$global-font-family: "Cairo-Regular";

$mainColor: #191818;

$defaultColor: #d22b35;

$btn_back: #353131;

$white: #fff;

$black: #000;

$minMedia: "(max-width:575px)";
$smallMedia: "(max-width:767px)";
$maxMedia: "(max-width:991px)";
$largeMedia: "(max-width:1199px)";
