// ============== start products ==========
.products {
  margin: 80px 0;
  overflow: hidden;
}

// ============ start sync slider ===============

#sync1 {
  .owl-item.active {
    .item {
      &::after {
        content: "";
        position: absolute;
        top: -47px;
        left: -49px;
        width: 100px;
        height: 100px;
        background: #fff;
        transform: rotate(45deg);
      }
    }
  }

  .item {
    height: 368px;
    margin: 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}

#sync2 {
  .item {
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 0 3px;

    .over {
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.4);
      width: 100%;
      height: 100%;
      z-index: 9;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .current .item {
    .over {
      display: none;
    }

    border: 2px solid rgba(210, 43, 53, 1);
  }
}

.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    [class*="owl-"] {
      transition: all 0.3s ease;
      &.disabled:hover {
        background-color: #d6d6d6;
      }
    }
  }
}

//arrows on first carousel
#sync1.owl-theme {
  position: relative;
  margin-bottom: 20px;

  .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.modal-content-main {
  flex-direction: row;
  gap: 30px;
  .content {
    color: #000;

    .head {
      content: "";
      &::after {
        position: absolute;
        top: -2px;
        right: -10px;
        width: 6px;
        height: 30px;
        background: #ea5b0c;
        margin-bottom: 22px;
      }
      h4 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 25px;
      }
    }

    p {
      padding-bottom: 30px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 11px;
      li {
        display: flex;
        align-items: baseline;
        gap: 7px;

        span.dot {
          display: block;
          min-width: 8px;
          height: 8px;
          background: #464646;
          border-radius: 50px;
        }
      }
    }

    .browse_more {
      margin-top: 40px;
      button {
        width: 100%;
        transition: 1s;
        &:hover {
          box-shadow: inset 45em 0 0 0 black;
        }
      }
    }
  }

  .slider_sync {
    width: 50%;

    .owl-carousel {
      width: 100%;
    }
  }

  .all_content {
    // display: flex;
  }
}

.owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background: #ffefef52;
  margin: 0 3px;
  transition: 0.5s;
}
.owl-dots button.owl-dot.active {
  width: 30px;
  height: 10px;
  border-radius: 8px;
  background-color: $white;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: unset;
  height: unset;
  background: unset;
}

// ==============================================

.modal {
  .modal-content {
    max-width: 650px;
    margin: auto;
    .modal-body {
      width: 100%;
      padding: 55px 28px;
    }
  }

  .call_us {
    margin: 0;
    .form_contact {
      box-shadow: none;
      padding: unset;
      .head_main {
        h4 {
          font-size: 32px;
        }
      }
    }
  }
}

.modal-open .modal {
  background: rgba($color: #000000, $alpha: 0.5);
}
