/* ============================= Start main buttons component =============================== */
.main-btn {
  // padding: 12px 48px;
  width: auto;
  min-width: 100px;
  height: 44px;
  color: #fff;
  background: $defaultColor;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid transparent;
  outline: none;
  transition: 0.5s;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    // background: #fff;
    // color: $defaultColor;
    // border: 1px solid $defaultColor;
    box-shadow: inset 6.5em 0 0 0 black;
  }
}

.browse_more {
  button {
    transition: 1s;
    &:hover {
      box-shadow: inset 18em 0 0 0 black;
    }
  }
}
/* ============================= end main buttons component =============================== */
