/*====================== start heading ======================================*/

.head_main {
  h4,
  h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 32px;
    color: $mainColor;
  }
}
span.title {
  font-weight: 500;
  font-size: 18px;
  color: #d22b35;
  text-align: center;
}
/*====================== end heading ======================================*/
